$green: #089E00;

.device-view {
  .theme-techcrunch {
    width: 674px;

    figure {
      width: 100%;
      margin: 0;
      img {
        width: 100%;
      }
      figcaption {
        display: none;
      }
    }

    header {
      h1 {
        font-family: 'alright_sansblack';
        color: #3e433e;
        font-size: 39px;
        line-height: 47px;
        margin-bottom: 16px;
      }
    }
    article {
      .article-body {
        margin-bottom: 100px;
        &-part {
          color: #3e433e;
          h2 {
            font-family: 'alright_sansblack';
            margin: 46px 0 23px;
            font-size: 23px;
          }
          p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 16px;
            font-family: 'open sans';
            font-weight: 400;
            &.first {
              font-size: 1.4em;
              line-height: 1.6;
              margin-top: 20px;
              margin-bottom: 23px;
              &:first-letter {
                color: $green;
                font-family: 'alright_sansblack';
                font-weight: 700;
                font-size: 6rem;
                line-height: 4rem;
                float: left;
                padding-right: .5rem;
              }
            }
            em {
              font-style: italic;
            }
            a {
              box-sizing: border-box;
              color: $green;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          blockquote {
            display: block;
            width: 306px;
            font-size: 26px;
            line-height: 31px;
            font-family: "open sans";
            font-style: italic;
            &.quote_left {
              float: left;
              margin: 16px 16px 16px 0;
              padding: 16px 16px 16px 0;
            }
            &.quote_right {
              float: right;
              margin: 16px 0 16px 16px;
              padding: 16px 0 16px 16px;
            }
            .quote-body {
              &:before {
                content: '“';
              }
              &:after {
                content: '”';
              }
              &:before, &:after {
                font-weight: bold;
                speak: none;
                font-weight: bold;
                margin: 4px;
                color: $green;
              }
            }
            .by {
              display: none;
              &:before {
                content: '–';
              }
            }
          }
        }
        figure {
          margin-bottom: 16px;
        }
      }
    }
  }

  &.device-mobile {
    .theme-techcrunch {
      width: 320px;
      header {
        margin: 0 16px;
        h1 {
          font-size: 21px;
          line-height: 27px;
        }
      }
      article {
        margin: 0 16px;
        .article-body {
          &-part {
            p.first {
              font-size: 1.2em;
            }
            blockquote {
              width: auto;
              float: none;
              &.quote_left {
                margin: 16px 0;
              }
              &.quote_right {
                margin: 16px 0;
              }
            }
          }
        }
      }
    }
  }
}
