<div class="controlls card">
  <form name="form">
    <!-- <b>Theme:</b> -->
    <select name="theme">
      <option value="wired">Wired</option>
      <option value="techcrunch">TechCrunch</option>
      <option value="theverge">The Verge</option>
    </select>
    &nbsp;&nbsp;&nbsp;
    <!-- <b>Device view:</b> -->
    <label><input type="radio" name="device" value="desktop" checked> Desktop</label>
    &nbsp;
    <label><input type="radio" name="device" value="tablet" >Tablet</label>
    &nbsp;
    <label><input type="radio" name="device" value="mobile" >Mobile</label>
  </form>
</div>
