@import "themes/wired/index";
@import "themes/techcrunch/index";
@import "themes/theverge/index";


.container {
  width: 700px;
  min-height: 400px;
  position: relative;
  margin: 60px auto;
}

.card {
  margin: 20px 0;
  border: 1px solid #000;
  padding: 10px;
}

.controlls {
  margin-bottom: 40px;
}

figure {
  margin: 0;
  img {
    width: 100%;
    display: block;
  }
}
